<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite">
    <listeners>
        <listener class-name="runners.RetryListener"/>
    </listeners>

    <test name="Android Tests">
        <parameter name="cucumber.filter.tags" value="@smoke"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>